.app {
    padding: 20px 0;
    text-align: center;
}
.listControler {
    font-size: 22px;
    border-radius: 10px;
    border: solid 1px;
    cursor: pointer;
    transition: 1s;
}
.listControler:first-child {
    margin-right: 10px;
}

.listControler:hover {
    background-color: gray;
    color: white;
}
